*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    /* background-image: url(../imagens/background-body.jpg); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    font-weight: 700;
}
h2{
    font-weight: 400;
}
.conteudo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-formulario{
    min-width: 600px;
    /* background: linear-gradient(to bottom, aquamarine, black); */
    background: rgba(0,150,150,0.5);
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}
.informacao-formulario{
    width: 500px;
    min-height: 600px;
    padding: 20px ;
}
.formulario {
    width:auto;
    max-height: 600px;
    display: block;
    background-color: rgba(255, 228, 196, 0.5);
    padding: 30px 10px; 
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    
    overflow-y: scroll;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: slategrey;
    border-radius: 20px;
}

.titulo{
    display: block;
    padding: 10px 0;
}
.formulario ul {
    margin-top: 30px;
}
.formulario label{
    margin-left: 10px;
}
.formulario .titulo-label {
    margin-bottom: 20px;
}
.formulario form input {
    font-size: 20px;
    background-color: transparent;
    border: 0px;
    margin-bottom: 10px;
    padding: 3px 5px;
    border-bottom: 1px solid;
}
.formulario form input:focus{
    border-bottom: 1px solid;
    outline: none;
}
.formulario .btn{
    width: 100%;
    background-color: blueviolet;
    margin-top: 10px;
    display: block;
    padding: 5px;
    cursor: pointer;
    transition: 0.2 ease-in-out;
    border: none;
}
.formulario .btn:hover{
    opacity: 0.9;
}